ADB_API_KEY=cmn8lzhc90009kz04taewgipt
AVIATION_KEY=cmn8lzhc90009kz04taewgipt
GEMINI_KEY=AIzaSyDDfpfnXU3iDzqej8bXW_OoeqFZCSMDumw
PORT=3001
FORCE_MOCK_DATA=true
FORCE_MOCK_GEMINI=false
FORCE_MOCK_FLIGHTS=false
